.hero {
    min-height: calc(900px - 70px);
    text-align: center;


    &__container {
        width: 70%;
        margin: 0 auto;
        display: flex;

        @include max-width(laptop) {
            width: 80%;
        }

    }

    &__contents {
        margin-top: 12rem;


        >h1.hero-title {
            font-size: 3.75rem;
            margin-bottom: 1rem;

            @include max-width(laptop) {
                font-size: 3rem;
                margin-bottom: 2rem;
            }

            @include max-width(tablet) {
                font-size: 2.5rem;
            }

            @include max-width(mobile) {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            @media(max-width: 400px) {
                font-size: 1.5rem;
            }

        }

        >p.hero-text {

            margin-bottom: 1rem;

            @include max-width(mobile) {
                font-size: 0.75rem;
            }

            @media(max-width: 400px) {
                font-size: 0.65rem;
            }
        }
    }
}